# 打包时报错暂时不强制
# engine-strict=true
# registry=http://nexus.newgrand.com:8080/repository/npm-group/
# 配置 pnpm 强制提升 dayjs 不提升有bug
public-hoist-pattern[]=*dayjs*
#  配置 pnpm 默认的配置，需要手动添加上
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*@prettier/plugin-*

# registry=http://10.18.2.23:8080/repository/npm-group/
registry=https://registry.npmmirror.com
