@import '../../glonal.less';

@myprefix: ~'@{default-prefix}-demo';

.@{myprefix}-box {
  border: 1px solid #bebebe;
}

.demo-box {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: #1677ff;
  width: auto;
}
